@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,400;1,700&display=swap');

:root {
    --orange: #f88c5c;
    --blue: #31acf1;
    --black: #3d3939;
    --pink: #de256b;
    --brown: #cd957b;
    --white: #ebe6e6;
    --box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0; padding: 0;
    outline: none; border: none;
    text-decoration: none; text-transform: capitalize;
    transition: .2s linear;
}

/* typography */
html {
    font-size: 62.5%; font-family: 'Poppins', sans-serif;
    background:var(--brown);
    overflow-x: hidden;
}
h1,h2,h3,p{
    color: var(--black);
}
h1 {
    font-size: 3rem; font-weight: 700; 
    font-style: italic;
    line-height: 1.15;
}
h2 {
    font-size: 2.5rem; font-weight: 600;
}
h3 {
    font-size: 2rem; font-weight: 550;
}
P {
    font-size: 1.4rem; font-weight: 300;
}
/* displays */
.grid {
    display: grid;
}
/* block */
.block h2 {
     text-align: center; /*margin:0 0 1rem; */
}
/* centering */
h3 ,
.block,
.homecontent,
.hero_logo,
.card .card_img {
    display: flex;
    align-items: center; justify-content: center;
}

/* navigation */
.header {
    background-color: var(--white);
    display: flex;  position: fixed;
    align-items: center; justify-content: space-between;
    top: 0; right: 0; left: 0;
    height: 8.5rem;
    padding: 0 5%;
    z-index: 99;
}
.logoContent {
    cursor: pointer;
    transition: transform .5s;
}
.logoContent img, .icon svg {
    height: 7.5rem;
}
.logoContent:hover {
    transform: scale(1.05)
}
#short-name {
    display: none;
    font-size: 3.5rem;
}
#full-name {
    text-align: center;
}
.navbar {
    position: absolute;
    top: 100%;right: -100%;
    width: 20rem; height: 65vh;
    background-color: #fff;
    border-bottom-left-radius: 1rem;
}
.navbar a {
    font-size: 2rem; font-weight: 500;
    color: var(--black); margin-right: 1rem;
}
.navbar a:hover {
    border-bottom: .25rem solid var(--brown);
}
.icon svg {
    fill: var(--black); cursor: pointer;
    width: 5.5rem;
    padding: .5rem;
    transition: all .15s;
}
.icon svg:hover {
    border: 2px solid var(--blue);
    border-radius: 1rem;
}
.icon #menu {
    display: inline-block;
}
.empty {
    height: 8.3rem;
}
    /* navbar appears onclick */
.navbar.active {
    right: 0;
}

/* hero */
.hero {
    height: 80vh; max-height: fit-content;
    background: url(/Images/tsb_banner.png) #8bd0ff no-repeat;
    background-position: center center; background-size: cover;
}
.hero .grid{
    grid-template-rows: repeat(2,1fr);
}
.herocontent {
    text-align: center;
}
.herocontent h2 {
    font-size: 4rem; font-weight: bolder;
    line-height: 7rem;
    text-shadow: var(--box-shadow);
}
.herocontent p {
    font-size: 1.5rem; line-height: 2;
    margin-bottom: 1rem; font-weight: 500;  /*line-height: 2.2; margin-bottom: 3rem;*/
}
.herocontent button {
    font-size: 1.8rem; font-weight: 600;
    background-color: var(--orange); color: var(--pink);
    border-radius: 3rem;
    padding: 2rem 5vw; margin: 1rem 0;
    cursor: pointer;
    text-transform: uppercase;
}
.herocontent button:hover {
    box-shadow: .5rem .7rem 1rem var(--pink);
    font-size: 2.2rem;
}

.hero_logo img {
    max-width: 100%;
    max-height: 100%;
  }
/* product */
.product {
    
    padding: 2.5rem 2rem;
}
.product .heading{
    padding-bottom: 3rem;
}
.product .card {
    background: linear-gradient(45deg,transparent 34%, #31acf1 35%, #31acf1 40%, transparent 41%, transparent 59%, #31acf1  60%, #31acf1 65%, transparent 66%),
        linear-gradient(135deg,transparent 34%, #31acf1 35%, #31acf1 40%, transparent 41%, transparent 59%, #31acf1  60%, #31acf1 65%, transparent 66%);
        background-size: 3em 3em;
        background-color:  #ebe6e6;
        opacity: 1;
    /* width: 50%; */
    padding: 2rem;
    border-radius: 5rem;
}
.card h2 {
    padding-bottom: 1rem;
}
.card_img {
    padding: 2rem;
}
.card_img img {
    width: 100%;
}
.card p {
    line-height: 1.25;
    text-align: center; 
}

/* media queries*/

/* full-name appearance */
@media screen and (max-width:700px){
    #short-name {
        display: block;
    }
    #full-name {
        display: none;
    }
}
/*tablet and up*/
@media (min-width:768px){
        /* logo resize */
    .logoContent img {
        height: 10rem;
    }
        /* head space */
    .header {
        padding: .5rem 1% 0;
        height: 10rem;
    }
        /* menu icon appearance */
    .icon #menu {
        display: none;
    }
        /* navbar link display */
    .navbar {
        all: unset;
        width: fit-content;
    }
    .empty {
        height: 10rem;
    }
        /* hero content */
    .herocontent h2 {
        font-size: 7rem;
        padding-top: 3rem;
    }
    .herocontent p {
        margin-bottom: 3.5rem; line-height: 2;
        font-size: 2.4rem; max-width: 97.5rem;
    }
    .hero .grid {
        grid-template-rows: none;
        grid-template-columns: repeat(2, 1fr);
    }

}
@media (min-width:1024px){
    .hero .grid {
        padding: 20rem;
        column-gap: 5rem;
    }
}
/* work on button then product and about us */