@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,400;1,700&display=swap');
/* contrasting failed */
:root {
    --nav: #FCFFFA;
    --block-primary: #99ccff;
    --block-secondary: #ff99cc;
    --block-accent: #ffcc99;
    --mute: #262626;
    --mute-text: #69c;
    --orange: #f88c5c;/*blue pink white 4/5*/
    --blue: #31acf1;/*pink orange brown white 4/5*/
    --black: #3d3939;/*pink brown(only s) 2/5*/
    --pink: #de256b;/*orange blue black brown white(only s) 5/5*/
    --purple: #8153E9;
    --brown: #cd957b;/*orange blue black(only s) pink white 5/5*/
    --white: #ebe6e6;/*orange blue pink(only s) brown 4/5*/
    --box-shadow: 0px 4px 4px rgba(0,0,0,0.5);
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0; padding: 0;
    outline: none; border: none;
    text-decoration: none; text-transform: capitalize;
    transition: .2s linear;
}

/* typography */
html {
    font-size: 62.5%; font-family: 'Poppins', sans-serif;
    background:var(--brown);
    overflow-x: hidden;
}
h1,h2,h3,p{
    color: var(--black);
}
h1 {
    font-size: 4rem; font-weight: 700; 
    font-style: italic;
    line-height: 1.15;
}
h2 {
    font-size: 3rem; font-weight: 600;
}
h3 {
    font-size: 2.5rem; font-weight: 550;
}
P {
    font-size: 2rem; font-weight: 400;
}
/* displays */
.grid {
    display: grid;
}
/* block */
.block h2 {
     text-align: center; /*margin:0 0 1rem; */
}
/* centering */
h3 ,
.homecontent,
.hero_logo,
.product .card,
.card_img .img_content{
    display: flex;
    align-items: center; justify-content: center;
}

/* navigation */
.header {
    background-color: var(--nav);
    display: flex;  position: fixed;
    align-items: center; justify-content: space-between;
    top: 0; right: 0; left: 0;
    height: 8.5rem;
    padding: 0 5%;
    z-index: 99;
}
.logoContent {
    cursor: pointer;
    transition: transform .5s;
}
.logoContent img, .icon svg {
    height: 7.5rem;
}
.logoContent:hover {
    transform: scale(1.05)
}
#short-name {
    display: none;
    font-size: 3.5rem;
    color: var(--pink);
    text-shadow: .05rem .05rem .4rem var(--blue);    
}
#full-name {
    text-align: center;
    color: var(--pink);
    text-shadow: .05rem .05rem .4rem var(--blue);
}
.navbar {
    position: absolute;
    top: 100%;right: -100%;
    width: 20rem; height: 65vh;
    background-color: #fff;
    border-bottom-left-radius: 1rem;
}
.navbar a {
    font-size: 2rem; font-weight: 500;
    color: var(--black); margin-right: 1rem;
}
.navbar a:hover {
    border-bottom: .25rem solid var(--brown);
}
.icon svg {
    fill: var(--black); cursor: pointer;
    width: 5.5rem;
    padding: .5rem;
    transition: all .15s;
}
.icon svg:hover {
    border: 2px solid var(--blue);
    border-radius: 1rem;
}
.icon #menu {
    display: inline-block;
}
    /* navbar appears onclick */
.navbar.active {
    right: 0;
}

/* hero */
.hero {
    min-height: 85vh; max-height: fit-content;
    background: url(/Images/tsb_banner.png) var(--block-primary) no-repeat;
    background-position: center center; background-size: cover;
}
.hero .layout{
    justify-content: center;
    grid-template-rows: 8rem 30rem 30rem;
    grid-template-columns: 1fr;
}
.herocontent {
    grid-area: 3/auto/-1;
    text-align: center;
    margin: 1rem auto;
}
.herocontent h2 {

    font-size: 4rem; font-weight: bolder;
    line-height: 5rem;
    text-shadow: var(--box-shadow);
}
.title-highlight {
    color: var(--purple);
}
.herocontent p {
    display: inline-block; max-width: 55rem;
    line-height: 2; font-weight: 600; word-spacing: .5rem;
    text-shadow: 0.25rem .25rem .1rem var(--nav); letter-spacing: .3rem;
    margin: 1rem auto; font-weight: 500; color: var(--pink);
}
.herocontent button {
    font-size: 1.8rem; font-weight: 600;
    background-color: var(--white); color: var(--pink);
    border-radius: 3rem;
    padding: 2rem 5vw; margin: .7rem 0;
    cursor: pointer;
    text-transform: uppercase;
}
.herocontent button:hover {
    box-shadow: .5rem .7rem 1rem var(--pink);
    font-size: 2.2rem;
}
.hero_logo {
    grid-area: 2/auto/3;
    margin: 1rem auto;
}
.hero_logo img {
    max-width: 100%;
    max-height: 100%;
}
/* product */
.product {
    padding: 2.5rem .5rem 3rem;
    background-color: var(--block-secondary);
}
.product h2{
    padding-bottom: 3rem;
}
.slide_container {
    /* max-width: 1120px; width: 100%; */
    padding: 4rem 0;
}
.product .slide-content {
    margin: 0 5rem; overflow: hidden;
    max-width: fit-content;
}
.product .card {
    max-width: 50rem; flex-direction: column;
    padding: 1rem 2rem;
    background: linear-gradient(65deg, rgba(244,170,226,1) 0%, rgba(245,191,105,0.95) 30%, rgba(109,223,246,1) 50%, rgba(245,191,105,1) 70%, rgba(244,170,226,1) 100%);
    border-radius: 5rem;
    border: .5rem double #fff;
    box-shadow: var(--box-shadow) inset;
}
.card h3 {
    color: var(--white);
    text-shadow: .4rem .3rem .1rem var(--black);
}
.card h3:hover {
    scale: 1.4;
}
.card_img {
    margin: 1.2rem 2rem 1.3rem;
    position: relative;            
}
.card_img img , .img_content{
    width: 100%; height: 100%;
    border-radius: 4rem;
}
.card .img_content {
    padding: 1rem;
    position: absolute;
    top: 0; left: 0;
    background-color: rgba(38, 38, 38, 0.75);
    opacity: 0;
}
.card .img_content:hover {
    opacity: 1;
}
.card_img .img_content a {
    font-size: 2.5rem; font-weight: 500;
    padding: 1rem;
    color: var(--mute-text);
    text-align: center;
    text-shadow: .22rem .2rem .15rem #fff;
}
.card_img .img_content a:hover {
    scale: 1.05;
}
.card p {
    padding: 1rem;
    line-height: 1.1;
    text-align: center;
}

/* media queries*/

/* large phones/small tablets*/
@media screen and (min-width:425px) {
    .hero .layout{
        gap: 2rem;
    }
    .hero_logo {
        scale: 1.15;
    }
    /* .card_img {
        padding: 1.5rem 2.5rem;
    } */
}
@media screen and (min-width:600px) {
    /* hero */
    .hero .herocontent p {
        margin: 3.5rem;
    }
    .product {
        padding: 2.5rem 5rem 3rem;
    }
}
/* full-name appearance */
@media screen and (max-width:700px){
    #short-name {
        display: block;
    }
    #full-name {
        display: none;
    }
}
/*tablet and up*/
@media (min-width:768px){
    /* logo resize */
    .logoContent img {
        height: 10rem;
    }
    /* head space */
    .header {
        padding: .5rem 1% 0;
        height: 10rem;
    }
    /* menu icon appearance */
    .icon #menu {
        display: none;
    }
    /* navbar link display */
    .navbar {
        all: unset;
        width: fit-content;
    }
    /* hero content */
    .hero .layout{
        grid-template-rows: 10rem 2fr;
        grid-template-columns: repeat(2,1fr);
        gap: 0;
    }
    .herocontent {
        grid-area: 2/1/-1/2;
        align-self: center;
    }
    .herocontent h2 {
        font-size: 7rem;
        padding-top: 3rem;
        line-height: 1.4;
    }
    .herocontent p {
        padding: 4rem 0; line-height: 2.2;
        font-size: 2.4rem; max-width: 97.5rem;
    } 
    .hero_logo {
        grid-area: 2/2/3/3;
        align-self: center;
        scale: .95;
    }
    
    /* product content */
    /* .product {
        padding: 2.5rem .5rem 3rem;
    } */
}
/* larger moniters */
@media (min-width:1024px){
}
/* border
.border {
    width: 98vw; height: 7.5rem;
    background-color: white;
}
.border img {
    width: 90%; height: 100%;
} */
/* work product and about us */