@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

@import 'tailwindcss';

@theme {
  --font-family: "Caveat", "sans-serif";
  --spacing-nav: 8.5rem;
  --color-white: #f4f3f2;
  --color-blue: #31acf1;
  --color-pink: #ff66c4;
}

@layer base {
  html {
    font-size: 62.5%;
    /* 1rem now equals 10px */
  }
  
  body {
    /* default size = 20px */
    font-size: 2rem;
    @apply font-family text-white;
  }
  
  main {
    @apply mt-[var(--spacing-nav)];
  }

  h1, h2, h3, h4 {
    @apply font-bold
  }
  
  h1 {
    @apply text-[4rem] cursor-pointer;
  }

  h2 {
    @apply text-[3.5rem]
  }

  h3 {
    @apply text-[3rem]
  }

  h4 {
    @apply text-[2.25rem]
  }
}

@layer components {
  .header {
    @apply bg-pink flex justify-between items-center fixed top-0 right-0 left-0 z-99 h-[var(--spacing-nav)] px-30;
  }
  
  .logo-container {
    @apply cursor-pointer h-30 py-1;
  }
  
  .logo-image {
    @apply size-full bg-white rounded-full duration-300 hover:scale-105 hover:ease-out;
  }
  
  .nav-full {
    @apply capitalize text-center text-4xl;
  }
  
  .nav-full > a {
    @apply inline-block w-30 not-last:mr-4 last:ml-4 border-blue hover:border-b-2;
  }

  .hero-section {
    @apply bg-blue h-200 pt-18 bg-[url('./assets/tsb_banner.png')] bg-no-repeat bg-center bg-cover;
  }

  .hero-wrapper {
    @apply flex justify-evenly;
  }

  .hero-content {
    @apply flex flex-col justify-between max-w-[40%] items-center;
  }

  .hero-message {
    @apply bg-pink/80  rounded-[3rem] py-3;
  }

  .hero-message > h4{
    @apply leading-relaxed text-balance text-center;
  }
  
  .pre-order-form {
    @apply text-blue px-16 py-8
  }
  /* change to .pre-order-form > fieldset > label */
  .pre-order-form > label{
    @apply text-pink
  }
}

@layer utilities {
  .title-shadow {
    text-shadow: 0.05rem 0.05rem 0.4rem var(--color-blue);
  }
}