<header class="header">
  <!-- logo -->
  <div class="logoContent">
    <a href="#">
      <img src="/Images/TSUB_logo.jpg" alt="logo" />
    </a>
  </div>
  <!-- title -->
  <h1 id="short-name">TSUB</h1>
  <h1 id="full-name">Top Sweets Unique Bakery</h1>

  <!-- navagation-bar -->
  <nav class="navbar">
    <a href="#home">home</a>
    <a href="#product">products</a>
    <a href="">services</a>
    <a href="">about us</a>
    <a href="">reviews</a>
    <a href="">settings</a>
  </nav>
  <div class="icon">
    <svg id="menu">
      <use xlink:href="images/sprite.svg#menu"></use>
    </svg>
  </div>
</header>
